version: 2

# See the following:
# https://github.com/dependabot/dependabot-core/issues/6888
# https://github.com/dependabot/dependabot-core/issues/3286
# https://github.com/dependabot/dependabot-core/issues/5260
registries:
  maven-central:
    type: maven-repository
    url: "https://repo.maven.apache.org/maven2/"
  maven-google:
    type: maven-repository
    url: "https://dl.google.com/dl/android/maven2/"
  gradle-plugin-portal:
    type: maven-repository
    url: "https://plugins.gradle.org/m2/"

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "gradle"
    directory: "/"
    registries:
      - maven-central
      - maven-google
      - gradle-plugin-portal
    schedule:
      interval: "weekly"
