<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="burrows.apps.example.gif"
    tools:ignore="GoogleAppIndexingWarning,AllowBackup">
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application android:name=".DebugApp">
        <activity
            android:name="burrows.apps.example.gif.DummyActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>
