name: build

on:
  push:
    branches:
      - master
  pull_request:
    types: [ opened, labeled, unlabeled, synchronize ]

env:
  GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx4g -Dorg.gradle.daemon=false -Dkotlin.incremental=false"

jobs:
  android:
    name: Android API ${{ matrix.api-level }} / JDK ${{ matrix.java-version }}
    runs-on: macos-latest

    strategy:
      fail-fast: false
      matrix:
        api-level:
          - 33
        java-version:
          - 19

    steps:
      - name: Checkout Project
        uses: actions/checkout@v3.3.0

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1.0.6

      - name: Setup Java ${{ matrix.java-version }}
        uses: actions/setup-java@v3.10.0
        with:
          distribution: temurin
          java-version: ${{ matrix.java-version }}
          cache: gradle

      - name: Gradle cache
        uses: gradle/gradle-build-action@v2.4.0

      - name: Build Debug APKs and Run lint checks
        uses: gradle/gradle-build-action@v2.4.0
        with:
          arguments: assembleDebug ktlintCheck lintDebug -Pci -s

      - name: Run Debug Unit Tests
        uses: gradle/gradle-build-action@v2.4.0
        with:
          arguments: testDebug -Pci -s

      - name: Cache AVD
        uses: actions/cache@v3
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-${{ matrix.api-level }}

      - name: Create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2.27.0
        with:
          api-level: ${{ matrix.api-level }}
          arch: x86_64
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: echo "Generated AVD snapshot for caching."

      - name: Run Debug Instrumentation Tests on Android API ${{ matrix.api-level }}
        uses: reactivecircus/android-emulator-runner@v2.27.0
        continue-on-error: true
        with:
          api-level: ${{ matrix.api-level }}
          arch: x86_64
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: ./gradlew connectedDebugAndroidTest -Pci -s

      - name: Build Release APKs and Run lint checks
        uses: gradle/gradle-build-action@v2.4.0
        with:
          arguments: assembleRelease lintRelease -Prelease -Pci -s

      - name: Upload Reports
        if: github.repository == 'jaredsburrows/android-gif-search' && github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v3.1.2
        with:
          name: com.burrowsapps.gif.search-reports-${{ github.workflow }}-${{ github.run_id }}
          path: |
            app/build/reports
            app/build/test-results
          if-no-files-found: error
          
      - name: Upload Debug .apk artifact
        if: github.repository == 'jaredsburrows/android-gif-search' && github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v3.1.2
        with:
          name: com.burrowsapps.gif.search.debug-debug-${{ github.workflow }}-${{ github.run_id }}.apk
          path: app/build/outputs/apk/debug/app-debug.apk
          if-no-files-found: error

      - name: Upload Release .apk artifact
        if: github.repository == 'jaredsburrows/android-gif-search' && github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v3.1.2
        with:
          name: com.burrowsapps.gif.search-release-${{ github.workflow }}-${{ github.run_id }}.apk
          path: app/build/outputs/apk/release/app-release.apk
          if-no-files-found: error
