name: build

on: [push, pull_request]

env:
  GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx4g -Dorg.gradle.daemon=false -Dkotlin.incremental=false"

jobs:
  android:
    runs-on: macos-latest

    strategy:
      fail-fast: false
      matrix:
        api-level:
          - 23
          - 24
        java-version:
          - 1.8
          - 11
          - 14

    steps:
      - name: Cache Gradle dependencies
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper/
            ~/.android/build-cache
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle.kts') }}
          restore-keys: ${{ runner.os }}-gradle

      - name: Checkout Project
        uses: actions/checkout@v2

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Configure JDK
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java-version }}

      - name: Build APK
        run: ./gradlew clean ktlintCheck assemble lintDebug assembleDebugAndroidTest -Pci -s --scan

      - name: Run Unit Tests
        run: ./gradlew testDebug -Pci -s --scan

      - name: Run Instrumentation Tests
        uses: reactivecircus/android-emulator-runner@v2.14.1
        with:
          api-level: ${{ matrix.api-level }}
          script: ./gradlew connectedDebugAndroidTest -Pci -s --scan
        env:
          API_LEVEL: ${{ matrix.api-level }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: android-gif-example-${{ github.workflow }}-${{ github.run_id }}
          path: |
            app/build/outputs
            app/build/reports
            app/build/test-results
          if-no-files-found: warn
