name: build

on:
  push:
    branches:
      - master
  pull_request:
    types: [ opened, labeled, unlabeled, synchronize ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx4g -Dorg.gradle.daemon=false -Dkotlin.incremental=false"
  JAVA_VERSION: 19
  ANDROID_API_LEVEL: 34

jobs:
  build:
    name: Build
    runs-on: macos-latest

    permissions:
      checks: write
      pull-requests: write

    strategy:
      fail-fast: false

    steps:
      - name: Checkout Project
        uses: actions/checkout@v3.5.3

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1.0.6

      - name: Configure JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v3.11.0
        with:
          distribution: temurin
          java-version: ${{ env.JAVA_VERSION }}
          cache: gradle

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2.4.2

      - name: Build Debug APKs and Run lint checks
        run: ./gradlew assembleDebug assembleDebugAndroidTest ktlintCheck lintDebug -Pci -s

      - name: Run Debug Unit Tests
        run: ./gradlew testDebug -Pci -s

      - name: Publish Unit Test Report
        uses: EnricoMi/publish-unit-test-result-action/composite@v2.7.0
        if: always()
        with:
          check_name: "Unit Test Results"
          comment_mode: false
          files: |
            app/build/test-results/**/TEST-*.xml

      - name: Cache AVD
        uses: actions/cache@v3
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-${{ env.ANDROID_API_LEVEL }}

      - name: Create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2.28.0
        with:
          api-level: ${{ env.ANDROID_API_LEVEL }}
          arch: x86_64
          target: google_apis
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: echo "Generated AVD snapshot for caching."

      - name: Run Debug Instrumentation Tests on Android API ${{ matrix.api-level }}
        uses: reactivecircus/android-emulator-runner@v2.28.0
        with:
          api-level: ${{ env.ANDROID_API_LEVEL }}
          arch: x86_64
          target: google_apis
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none -no-snapshot-save
          disable-animations: true
          script: ./gradlew connectedDebugAndroidTest -Pci -s

      - name: Publish Integration Test Report
        uses: EnricoMi/publish-unit-test-result-action/composite@v2.7.0
        if: always()
        with:
          check_name: "Integration Test Results"
          comment_mode: false
          files: |
            app/build/outputs/androidTest-results/**/TEST-*.xml

      - name: Build Release APKs and Run lint checks
        run: ./gradlew assembleRelease lintRelease -Prelease -Pci -s

      - name: Upload Reports
        if: github.repository == 'jaredsburrows/android-gif-search' && github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v3.1.2
        with:
          name: com.burrowsapps.gif.search-reports-${{ github.workflow }}-${{ github.run_id }}
          path: |
            app/build/reports
            app/build/test-results
            app/build/outputs/androidTest-results

      - name: Upload Debug .apk artifact
        if: github.repository == 'jaredsburrows/android-gif-search' && github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v3.1.2
        with:
          name: com.burrowsapps.gif.search-debug-${{ github.workflow }}-${{ github.run_id }}.apk
          path: app/build/outputs/apk/debug/app-debug.apk

      - name: Upload Release .apk artifact
        if: github.repository == 'jaredsburrows/android-gif-search' && github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v3.1.2
        with:
          name: com.burrowsapps.gif.search-release-${{ github.workflow }}-${{ github.run_id }}.apk
          path: app/build/outputs/apk/release/app-release.apk
